*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

css{
    background-color: aqua;
}
h1{
    font-size: 5em;
}
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgb(0, 0, 0, 0.7)), url(../img/burger2.jpg);
    background-size: cover;
    margin: auto;
    background-attachment: fixed;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: 1s;
    width: 100%;
}

nav.scrolled{
    background-color: rgba(0, 0, 0, 0.75);
    color: black;
    z-index: 15;
}

nav a img{
    width: 100px;
    transition: 1s;
}

nav.scrolled a img{
    padding: 2px 0;
    width: 50px;
}

#nav-links{
    padding-left: 900px;
    padding-right: 50px;
}

nav .fas{
    display: none;
}

nav .fa{
    display: none;
}

#nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 28px;
}

#nav-links ul li a{
    text-decoration: none;
    font-size: 13px;
    transition: 1s;
    color: white;
}


#nav-links ul li a::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(255, 140, 178);
    display: block;
    margin: auto;
    transition: 0.4s;
}

#nav-links ul li a:hover::after{
    width: 100%;
}

.sastojci{
    display: flex;
}
#cart_qu{
    position: absolute;
    top: 15%;
    right: 10%;
    background-color: brown;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    display: none;
}

#pocetna{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 300px;
    padding-bottom: 200px;
}

#pocetna h1{
    font-size: 62px;
}

#pocetna p{
    font-size: 13px;
    align-self: center;
    padding: 50px;
}

#pocetna a{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    align-self: center;
    transition-duration: 400ms;
    padding: 13px 40px;
}

#pocetna a:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.padajuci ul{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    display: none;
    cursor: pointer;
    padding-top: 23px;
}
.padajuci ul li{
    padding-top: 10px;
}

.padajuci:hover ul{
    display: flex;
}

nav.scrolled .padajuci:hover ul li{
    background-color: rgba(0, 0, 0, 0.75);
}

/* #margherita{
    background-color: rgba(0, 0, 0, 0.5);
}

.info_pizza:hover #margherita{
    background-color: brown;
} */