@media screen and (max-width: 1570px) {
    nav{
        justify-content: space-between;
    }
    #nav-links{
        padding-left: 0;
    }
    #text_del_1{
        font-size: 45px;
    }
    #text_del_2{
        font-size: 75px;
    }
    #text_del_3{
        font-size: 15px;
    }
    #fon{
        right: -150px;
        bottom: -50px;
    }
    #icons{
        height: 60px;
    }
}
@media screen and (max-width: 1260px) {
    #text_del_1{
        font-size: 35px;
    }
    #text_del_2{
        font-size: 65px;
    }
    #motor{
        width: 350px;
    }
    #fon{
        bottom: -80px;
    }
    .pizza img{
        height: 100%;
    }
    #about{
        padding-top: 50px;
    }
    
    #about p{
        padding-top: 30px;
        font-size: 12px;
    }
    
    .mreze a i{
        color: black;
        font-size: 20px;
    }

    .contact{
        padding: 100px;
        font-size: 15px;
    }

}
@media screen and (max-width: 1150px) {
    #fon{
        display: none;
    }
    #text_del_1{
        font-size: 25px;
    }
    #text_del_2{
        font-size: 50px;
    }
    #icons{
        height: 50px;
    }
    #icons p{
        font-size: 10px;
    }
    #motor{
        width: 300px;
    }
    .pizza img{
        left: 90%;
        top: 0px;
    }
    .tabela{
        width: 80vh;
        font-weight: 200;
        font-size: 11px;
    }
    .naziv_k{
        font-size: 13px;
    }
    .sastojci_k{
        font-size: 8px;
    }
}
@media screen and (max-width: 1050px) {
    .okvir{
        width: 400px;
        right: 150px;
        font-size: 13px;
    }
    .text_combo{
        font-size: 200%;
    }

    .combo{
        width: 400px;
    }

    #delivery_text a{
        padding: 15px 30px;
        font-size: 10px;
    }


}
@media screen and (max-width: 950px) {
    .okvir{
        right: 100px;
    }
    .pizza img{
        left: 90%;
    }
    .combo{
        padding: 0 10px;
    }
    .contact{
        padding: 100px;
        font-size: 11px;
    }
    #opis{
        font-size: 9px !important;
    }
    .mreze a i{
        font-size: 20px;
        padding: 0px 10px !important;
    }
    #copy_right{
        padding: 15px !important;
        font-size: 9px;
    }

}
@media screen and (max-width: 875px) {
    #text_del_2{
        font-size: 40px;
    }
    .combo{
        padding: 0px;
    }
    .pizza img{
        left: 80%;
    }
    .info, .info_pizza{
        z-index: 3;
    }
}
@media screen and (max-width: 850px) {
    #container{
        flex-direction: column;
    }
    .combo{
        width: 90%;
        margin: auto;
        padding: 20px 0;
    }
    .text_combo{
        font-size: 55px;
    }
    .kutija{
        width: 32% !important;
    }   
}
@media screen and (max-width: 800px) {
    #okvir_pizza .pizza img{
        height: 110%;
        left: 60%;
        top: 0;
    }
    .info_pizza:hover + img{
        opacity: 0.5;
    }


    @keyframes fade-in-pizza {
        0%{
            opacity: 0;
            transform: rotate(0deg);
        }
        0.5%{
            opacity: 0.5;
        }
        100%{
            transform: rotate(3600deg);
        }
    }
    #text_del_3{
        font-size: 11px;
    }
    #pocetna{
        padding-top: 250px;
        padding-bottom: 150px;
    }
    
    #pocetna h1{
        font-size: 50px;
    }
    
    #pocetna p{
        font-size: 13px;
        padding: 40px;
    }

    #quick_links{
        display: none;
    }

    .row2{
        display: grid !important;
        grid-template-columns: 1f 1f !important;
        grid-template-rows: 1f 1fr !important;
    }
    .kutija{
        width: 100% !important;
        margin: 20px;
    }
    .kutija_location{
        grid-area: 1/1/2/3 !important;
    }
    .kutija_contact{
        grid-area: 2/1/3/2 !important;
    }
    .kutija_service{
        grid-area: 2/2/3/3 !important;
    }
    #opis{
        padding-right: 5px !important;
    }
    .mreze a i{
        font-size: 20px !important;
        padding: 0px 5px;
    }

}

@media screen and (max-width: 730px) {
    #okvir_burger .pizza img{
        height: 110%;
        left: 70%;
    }
    #okvir_pizza .pizza img{
        left: 55%;
    }
    .info:hover + img{
        opacity: 0.5;
    }
    @keyframes fade-in{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 0.5;
        }
    }
    #content_delivery{    
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 2fr 3fr;
    }  
    #icons{
        grid-area: 1/1/3/2;
        height: 40px;
    }
    #icons p{
        font-size: 50%;
    }
    #motor{
        grid-area: 2/1/3/2;
        width: 200px;
    }
    #delivery_text{
        grid-area: 3/1/4/2;
        font-size: xx-large;
    }
    #text_del_3{
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 680px) {
    .okvir{
        left: -8%;
    }
    #okvir_burger .pizza img{
        left: 50%;
    }
    #okvir_pizza .pizza img{
        left: 40%;
    }
    .proba{
        width: 100%;
        bottom: 0;
        top: auto;
        height: fit-content;
    }
    .tabela{
        width: 70%;
        display: flex;
        background-color: rgb(192, 107, 135);
        color: white;
        font-weight: bold;
        padding: 15px 10px;
        margin: auto;
        display: grid;
        grid-template-columns: 4fr 10fr 1fr 1fr 1fr 1fr;
    }
    .product_t{
        grid-area: 1/1/2/2;
    }
    .price_t{
        grid-area: 1/3/2/4;
    }
    .qunantity_t{
        grid-area: 1/5/2/6;
    }
    .glavni_k{
        width: 70%;
        margin: 3px auto;
        display: grid;
        grid-template-columns: 7fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content min-content;
        padding: 10px;
        background-color: rgb(126, 214, 147);
    }
    
    .naziv_k{
        grid-area: 1/1/2/2;
        font-size: 11px;
    }
    .sastojci_k{
        grid-area: 2/1/3/2;
        font-size: 9px;
        display: none;
    }
    .cena_k{
        grid-area: 1/3/3/4;
        font-size: 11px;
        margin: auto;
    }
    .kolicina_k{
        grid-area: 1/5/3/6;
        margin: auto;
        font-size: 11px;
    }
}
@media screen and (max-width: 630px) {
    #hot_combo h1{
        font-size: 40px;
    }
    #okvir_pizza .pizza img{
        left: 15%;
    }
    #okvir_burger .pizza img{
        left: 30%;
    }
    #okvir_drink .pizza{
        grid-template-columns: 3fr 1fr;
    }
    #okvir_drink .pizza img{
        left: 55%;
    }
    .okvir{
        width: 450px;
        margin: auto;
        left: 3%;
    }
    
    #nav-links ul li{
        display: block;
    }

    nav.scrolled{
        background-color: rgba(255, 0, 0, 0);
    }

    #menu-button{
        transition: 2s;
        border-radius: 50%;
        margin: 20px;
        color: white;
    }
    nav.scrolled #menu-button{
        background-color: rgba(0, 0, 0, 0.5);
        width: 30px;
    }

    nav.scrolled a img{
        width: 80px;
    }

    #nav-links{
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        bottom: 0;
        right: -250px;
        text-align: left;
        z-index: 10;
        width: 200px;
        transition: 1s;
    }
    #nav-links ul li a{
        font-size: 16px;
        padding: 5px;
    }
    #nav-links ul li ul li a{
        font-size: 15px;
        padding: 1px;
    }

    #nav-links ul{
        padding: 10px;
    }

    #nav-links i{
        display: block;
        margin: 10px;
        color: white;
        font-size: 32px;
        cursor: pointer;
    }

    nav .fas{
        color: white;
        display: block;
        padding: 35px;
        font-size: 36px;
    }

    .padajuci ul{
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;
        background-color: none;
    }
    nav.scrolled .padajuci:hover ul li{
        background-color: rgba(0, 0, 0, 0.0);
    }
    #pocetna h1{
        font-size: 40px;
    }
    
    #pocetna p{
        font-size: 11px;
        padding: 30px;
    }
    
    #pocetna a{
        padding: 9px 32px;
    }
    .header{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgb(0, 0, 0, 0.7)), url(../img/burgerCrop.jpg);
    }
    .mreze a i{
        padding: 0px 5px !important;
    }
    #img_logo h2{
        font-size: 15px !important;
    }

}
@media screen and (max-width: 560px) {
    #okvir_pizza .pizza img{
        left: 10%;
    } 
    #okvir_drink .pizza img{
        left: 50%;
    }
    .text_combo{
        z-index: 5;
    }
    #make_pizza h1{
        font-size: 40px;
    }
    .cena button{
        padding: 7px;
        position: absolute;
        left: 25px;
        top: -10px;
    }
    .row iframe{
        width: 20%;
    }
    .row2{
        grid-template-columns: 1f !important;
        grid-template-rows: 1fr 1fr 1fr !important;
    }
    .kutija{
        margin: 5px !important;
    }
    .kutija_location{
        grid-area: 1/1/2/2 !important;
    }
    .kutija_contact{
        grid-area: 2/1/3/2 !important;
    }
    .kutija_service{
        grid-area: 3/1/4/2 !important;
    }
    .row{
        flex-direction: column !important;
        padding: 20px 5%;
    }
    iframe{
        width: 100% !important;
    }
    #img_logo img{
        display: none !important;
    }
}
@media screen and (max-width: 475px) {
    .text_combo{
        font-size: 40px;
    }
    #okvir_pizza .pizza img{
        left: -10%;
    } 
    #okvir_burger .pizza img{
        left: 20%;
    }
    #okvir_drink .pizza img{
        left: 50%;
    }
    #hot_combo h1{
        font-size: 35px;
    }
    .okvir{
        width: 90%;
    }
    #okvir_drink {
        width: 80%;
        left: 0;
    }
    #make_pizza{
        overflow: hidden;
    }
    #about{
        padding-top: 30px;
    }
    
    #about p{
        padding-top: 15px;
        font-size: 9px;
    }
    .contact{
        padding: 70px;
    }
    .contact div h2{
        padding-bottom: 20px;
        font-size: 12px;
    }
    
    .contact div a{
        border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition-duration: 400ms;
        padding: 10px 20px;
    }
}